<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"/>
    <script type="text/javascript">
        function Check(){
            var form = document.search;
            if(s_con.value==""||s_con.value==null){
                alert("검색어를 입력해 주세요.");
            }else{
                form.submit();
            }
        }
    </script>
</head>
<body>
<div>
    <p th:text="'총 '+${total}+'개가 검색됐습니다.'">...</p>

    <form th:action="@{/search}" method="post" name="search">
        <SELECT name="op" style='height:25px; width: 100px;'>
            <OPTION value='title'>제목</OPTION>
            <OPTION value='content'>내용</OPTION>
            <OPTION value='title_content'>제목+내용</OPTION>
        </SELECT>
        <input type="text" name="s_con" id="s_con">
        <input type="button" onClick="Check()" th:value="Search" class="btn">
    </form>

    <table border="1" align="center" class="table table-striped table-hover">
        <tr>
            <td width="50" >Num</td>
            <td width="600">Title</td>
            <td width="100">Writer</td>
            <td width="150">Date</td>
        </tr>
        <tr th:each ="board : ${board}">
            <td th:text="${board.bno}">...</td>
            <td><a th:href="'/view/'+${board.bno}" th:text="${board.title}" style="text-decoration:none;color:black">...</a></td>
            <td th:utext="${board.writer}">...</td>
            <td th:utext="${board.date}">...</td>
        </tr>
        <tr>
            <td colspan="4"><input type="button" value="메인으로" onClick="location.href='board'" align="right" class="btn btn-success"></td>
        </tr>
    </table>
</div>

</body>
</html>