<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>

    <script type="text/javascript">
          function check(){
                var form = document.Write;
                var title = document.getElementById('title');
                var writer = document.getElementById('writer');
                var content = document.getElementById('content');
                var password = document.getElementById('password');


                if(title.value=='' || title.value == null){
                    alert('제목을 입력해주세요.');
                    form.title.focus();
                    return;
                }
                if(writer.value=='' || writer.value == null){
                    alert('작성자를 입력해주세요.');
                    form.writer.focus();
                    return;
                }
                if(content.value=='' || content.value == null){
                    alert('내용을 입력해주세요.');
                    form.content.focus();
                    return;
                }
                if(password.value=='' || password.value == null){
                    alert('비밀번호를 입력해주세요.');
                    form.password.focus();
                    return;
                }
                form.submit();
          }
    </script>
</head>
<body>
    <div>
        <form th:action="@{/write}" method="POST" name="Write">
            <table border="1" align="center">
                <tr>
                    <td>제목</td>
                    <td width="600" colspan="2"><input type="text" size="70" name="title" id="title"></td>
                </tr>
                <tr>
                    <td>이름</td>
                    <td width="600" colspan="2"><input type="text" size="70" name="writer" id="writer"></td>
                </tr>
                <tr>
                    <td colspan="3"><textarea rows="30" cols="100" name="content" id="content"></textarea></td>
                </tr>
                <tr>
                    <td>비밀번호</td>
                    <td width="450"><input type="password" size="50" name="password" id="password"></td>
                    <td>
                        <input type="button" value="등록" onClick="location.href='javascript:check();'">
                        <input type="button" value="취소" onClick="location.href='/board'">
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>